body{
    background-color: #c9d7fd;
    font-family: "Open Sans", sans-serif;
}

a{
    color: #4202e2;
}


.weather-box{
    background: linear-gradient(to bottom, 
    rgb(43, 50, 178) 0%, 
    rgb(20, 136, 204) 100%);
    color: rgb(245, 243, 243);
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
    padding: 50px;
}

header{
    border-bottom: 1px solid #f9f7fe;
    padding: 30px 0;
}

.search-input{
    background: #f9f7fe;
    border: none;
    border-radius: 5px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
}

.search-button{
    background: #7a46fd;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    margin-left: 3px;
    border-radius: 4px;
    color: white;
}

main{
    padding: 30px 0;
}

.weather-data{
    display: flex;
    justify-content: space-between;
}

.weather-city{
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}
.weather-details{ 
    font-size: 16px;
    color: #efeafc;
    line-height: 24px;
    font-weight: 500;
}

.weather-details strong{
    color: #38f838
}

.weather-temperature-container{
    display: flex;
}

.weather-temp{
    font-size: 88px;
    line-height: 88px;
    font-weight: bold;
}

.weather-icon{
    width: 88px;
    height: 88px;
}

.weather-unit{
    margin-top: 6px;
    font-size: 28px;
}

.weather-forecast{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.weather-forecast-date{
    text-align: center;
    color: #efeafc;
    font-size: 16px;
    line-height: 20px;
}

.weather-forecast-icon{
    font-size: 38px;
    text-align: center;
}

.weather-forecast-temperatures{
    text-align: center;
    color: #38f838;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.weather-forecast-temp{
    padding: 0 10px;
}

footer{
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: rgb(29, 29, 29);
}

